*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body, html {
    width: 100%;
    height: 100%;
    position: relative;
}
#hero{
    background-image: url('./sources/main2.jpg');
    background-size: cover;
    background-size: 100vw 100vh;
}

.navbar{
    position: sticky;
    top: 8px;
    margin: 0 auto;
    /* background-color: rgba(255, 255, 255, 0.3); */
    background-color: #a5b1c25f;
    height: 60px;
    width: 96%;
    padding: 0 3vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}

.navbar p{
    font-size: 1.2vw;
    padding: 7px;
    color: #ffffff;
    border-radius: 8px;
    background: linear-gradient(75deg,#00bce6,#2962ff 50.31%,#d500f9);
}
#navpart{
    min-height: 100vh;
}
a{
    padding: 13px;
    border-radius: 25px;
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-weight: 600;
}
li{
    list-style: none;
}
.navy ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
}
button{
    padding: 10px;
    border: 2px solid rgb(18, 206, 18);
    border-radius: 10px;
    color: black;
    font-weight: 600;
    background-color: #b8e994;
}
button:hover{
    background-color: #7ace8c5f;
}
.menu-icon{
    display: none;
}



/* ingredients part started  */
.ingredients{
    /* height: 100vh; */
    background-color: rgb(218, 238, 237);
    padding: 5vh 10vw;
}
.ingredients h1{
    text-transform: uppercase;
    line-height: 70px;
}
.cards{
    padding: 50px 20px;
    margin-top:17vh ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    background-color: whitesmoke;
    width: 330px;
    height: 220px;
    /* background-color: #888; */
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 6px solid brown;
}
/* ingredients part ended  */

/* portfolio part started  */
.portfolio{
    width: 100%;
    padding: 5vh 10vw;
    /* height: 100vh; */
    background-color: rgb(243, 237, 230);
}
.portfolio h1{
    text-transform: uppercase;
}

.ima{
    /* width: 150px;
    height: 90px; */
    width: 100%;
    height: 100%;
}
.cards2 p{
    margin-left: 30px;
}

/* Footer  */
.footer{
    width: 100%;
    padding: 50px;
    /* height: 15vh; */
    background-color: #e2f0f4;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}
footer h3{
    margin-bottom: 40px;
}

.links,.connect , .media{
    width: 165px;
}

/* Hover Effect  */
a:hover{
    color: black;
    background-color: rgba(246, 241, 247, 0.21);
}
.menu-icon{
    z-index: 999;
}

/* Responsive Part  */
@media (max-width:870px) {
    .navbar p{
        font-size: 2vw;
    }
    .en_btn{
        display: none;
    }
    .navy a{
        display: none;
        
    }
    .menu-icon{
        display: block;
    }
    .extra{
        display: flex;
        flex-direction: column;
        position: absolute;
        left: 0;
        top: 0;
        width: 100vw;
        height: 100vh;
        background-color: rgba(241, 216, 216, 0.708);
    }
    .an{
        display:block;
    }
}
@media (max-width:550px) {
    .navbar p{
        font-size: 3vw;
    }
}


/* About Section  */
.main2{
    /* background-color: #f1f2f6; */
    min-height: 100vh;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.team{
    margin-top:25vh;
}
.team h1{
    color:rgb(67, 60, 60);
    /* color:#57606f; */
    text-align: center;
    text-transform: uppercase;
}
.members{
    padding: 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.member{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 240px;
    font-size: 20px;
    width: 350px;
    padding: 30px;
    color: black;
    background-color: whitesmoke;
    border-radius: 10px;
    border-bottom: 5px solid rgb(165, 158, 158);
}


/* Vision Mission  */
.vision-mission{
    width: 100%;
    min-height: 100vh;
    /* background-color: #00bce6; */
    /* padding: 2vw; */
}
.vision{
    padding: 2vw;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
    width: 80%;
    height: 50%;
    margin: 0 auto;
    /* background-color: #d500f9; */
}
.v-text{
    padding: 70px;
    /* background-color: #e2f0f4; */
    font-size: 20px;
    width: 50%;
}
.vision img{
    width: 400px;
    height: 300px;
}
.mission img{
    width: 400px;
    height: 300px;
}
.mission{
    padding: 2vw;
    /* background-color: #4e3852; */
    width: 80%;
    margin: 0 auto;
    height: 50%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-around;
}
.m-text{
    width: 50%;
    font-size: 20px;
    padding: 70px;
}
.contact_us{
    background-color: white;
    height: 100vh;
    width: 100%;
}
.contact_us h1{
    text-align: center;
    margin-top: 90px;
    text-transform: uppercase;
}
.con_sec2{
    height: 130px;
    margin-top: 10vh;
    display: flex;
    justify-content: space-around;
    font-size: 17px;
    font-weight: 600;
    line-height: 35px;
}
.contact_div2 input {
    width: 40vw;
}
.contact_div2{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.con_btn button{
    border-radius: 9px;
    width: 90px;
    background-color:#b8e994;
    color: black;
    font-weight: 600;
}
.con_btn button:hover{
    background-color: #78e08f;
}
.con_btn{
    margin-top: 30px;
    text-align: center;
}

.van{
    background-color: aqua0;
    height: 200vh;
}

/* Project part started  */
.project-part{
    width: 100%;
    min-height: calc(100vh - 60px);
    /* background-color: rgb(230, 188, 188); */
    padding: 8vw 15vw;
}
.project-part h1{
    text-align: center;
}
.farm-photos{
    margin-top: 25px;
    margin-bottom: 50px;
    padding: 5px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 50px;
}
.farm-photos img{
    width: 200px;
    height: 150px;
}
.farm-text{
    font-size: 20px;
    word-spacing: 7px;
    line-height: 25px;
}

.proj-heighlights{
    width: 100%;
    min-height: 60vh;
    display: flex;
}
.amenities{
    padding: 10vh;
    width: 50%;
    height: 60vh;
    /* background-color: #00bce6; */
}
.amenities h1{
    margin-top: 5vh;
    font-size: 50px;
}
.am-list{
    font-size: 20px;
    padding: 0px 30px;
    margin-top: 5vh;
}
.location-heighlights{
    padding: 10vh;
    width: 50%;
    height: 60vh;
    /* background-color: #5a676a; */
}
.location-heighlights h1{
    margin-top: 5vh;
    font-size: 50px;
}
.loc-list{
    padding: 0px 30px;
    margin-top: 5vh;
    font-size: 20px;
}
@media (max-width: 678px) {
    .proj-heighlights{
        display: block;
    }
    .amenities{
        width: 100%;
    }
    .location-heighlights{
        width: 100%;
    }
}
.NA-plots{
    width: 100%;
    min-height: 60vh;
    /* background-color: #2962ff; */
}
.NA-plots h1{
    padding-top: 5vh;
    text-align: center;
}
.NA{
    border-bottom: 5px solid brown;
    border-radius: 5px;
    color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 180px;
    /* background-color: #2962ff; */
}
.na1{
    background-image: url('./sources/matheran.jpeg');
}

.completed-projects{
    width: 100%;
    min-height: 60vh;
    /* background-color: skyblue; */
}
.completed-projects h1{
    padding-top: 5vh;
    text-align: center;
    text-transform: uppercase;
}
.proj-box{
    /* background-color: #d500f9; */
    width: 80%;
    min-height: 30vh;
    margin: 5vh auto;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-around;
}
.proj{
    border-bottom: 5px solid brown;
    border-radius: 5px;
    color: rgb(250, 250, 250);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 270px;
    height: 180px;
    /* background-color: #2962ff; */
}
.proj1{
    background-image: url('./sources/dest1.jpg');
}
.proj2{
    background-image: url('./sources/hotel3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
}

/* footer part started  */
.footer{
    position: relative;
}
.footer img{
    width: 100%;
    position: absolute;
    top: -60%;
}