*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
#hero{
    background-image: url('./sources/home.avif');
    background-size: cover;
    background-size: 100vw 100vh;
}

.navbar{
    position: sticky;
    top: 8px;
    margin: 0 auto;
    background-color: rgba(255, 255, 255, 0.3);
    height: 80px;
    width: 96%;
    padding: 0 3vw;
    border-radius: 20px;
    display: flex;
    align-items: center;
    justify-content:space-between;
}
.navbar h2{
    background: linear-gradient(blue,green);
    border-radius: 8px;
    padding: 7px;
    color: #ffffff;
}
#navpart{
    height: 100vh;
}
a{
    padding: 13px;
    border-radius: 25px;
    color: rgb(9, 9, 9);
    text-decoration: none;
    font-weight: 600;
}
li{
    list-style: none;
}
.navy ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
    text-transform: uppercase;
}
button{
    padding: 10px;
    border-radius: 20px;
    color: rgb(214, 214, 214);
    background-color: rgba(0, 0, 0, 0.8);
}




/* ingredients part started  */
.ingredients{
    /* height: 100vh; */
    background-color: rgb(218, 238, 237);
    padding: 5vh 10vw;
}
.ingredients h1{
    text-transform: uppercase;
    line-height: 70px;
}
.cards{
    padding: 50px 20px;
    margin-top:17vh ;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 15px;
}
.card{
    background-color: whitesmoke;
    width: 330px;
    height: 220px;
    /* background-color: #888; */
    flex-direction: column;
    padding: 30px;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    border-bottom: 6px solid brown;
}
/* ingredients part ended  */
/* portfolio part started  */
.portfolio{
    width: 100%;
    padding: 5vh 10vw;
    /* height: 100vh; */
    background-color: rgb(243, 237, 230);
}
.portfolio h1{
    text-transform: uppercase;
}

.ima{
    /* width: 150px;
    height: 90px; */
    width: 100%;
    height: 100%;
}
.cards2 p{
    margin-left: 30px;
}

/* Footer  */
.footer{
    width: 100%;
    padding: 50px;
    /* height: 15vh; */
    background-color: #e2f0f4;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    align-items: center;
    justify-content: space-evenly;
}
footer h3{
    margin-bottom: 40px;
}

.links,.connect , .media{
    width: 165px;
}

/* Hover Effect  */
a:hover{
    color: black;
    background-color: rgb(246, 241, 247);
}

/* Responsive Part  */
@media (max-width:870px) {
    .navy{
        display: none;
    }
}



/* About Section  */
.main2{
    background-color: rgb(180, 227, 246);
    min-height: 100vh;
    /* font-family: Arial, Helvetica, sans-serif; */
}

.team{
    margin-top:60px;
}
.team h1{
    color: #888;
    text-align: center;
    text-transform: uppercase;
}
.members{
    padding: 60px 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}
.member{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 240px;
    width: 350px;
    padding: 30px;
    color: #888;
    background-color: whitesmoke;
    border-radius: 10px;
    border-bottom: 5px solid rgb(165, 158, 158);
}